.detail-container {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 10px rgb(75 58 58 / 20%);
    overflow: hidden;
    width: fit-content;
    padding: 50px;
    display: flex;
    overflow: auto;
    margin: auto;
    margin-top: 20%;
}

.detail-prop {
    display: flex;
    justify-content: start;
    align-content: space-between;
    margin-top: 10px;
}

.key {
    font-weight: bold;
    margin-right: 25px
}

.column {
    padding-right: 50px
}